@mixin width80 {
    width: 80%;
    margin: 0 auto;
}
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin clearFix {
    display: table;
    clear: both;
    content: '';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}

header {
    @include width80;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    ul {
        @include flexCenter;
        li {
            padding-left: 30px;
            font-size: 20px;
            a {
                background-color: black;
                padding: 5px 10px;
                border-radius: 5px;
                color: white;
            }
        }
    }

    img {
        height: 90px;
    }
}

#home {
    img {
        width: 100%;
    }
}

#products {
    @include width80;
    
    .card {
        width: calc(100% / 3 - 40px);
        float: left;
        text-align: center;
        background-color: lightgray;
        margin: 20px;
        border-radius: 20px;
        padding-bottom: 30px;
        img {
            padding: 30px;
            width: 100%;
        }
    }
    
}
#products::after {
    @include clearFix;
}

footer {
    @include width80;
    padding: 20px 0;
}