* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  padding-left: 30px;
  font-size: 20px;
}

header ul li a {
  background-color: black;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

header img {
  height: 90px;
}

#home img {
  width: 100%;
}

#products {
  width: 80%;
  margin: 0 auto;
}

#products .card {
  width: calc(100% / 3 - 40px);
  float: left;
  text-align: center;
  background-color: lightgray;
  margin: 20px;
  border-radius: 20px;
  padding-bottom: 30px;
}

#products .card img {
  padding: 30px;
  width: 100%;
}

#products::after {
  display: table;
  clear: both;
  content: "";
}

footer {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

